/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap'); */

.Content {
    display: flex;
    align-items: center;
    width: 100%;
}

.graph {
    align-items: center;
    min-height: auto;
    width: 80%;
    padding: 0;
}

#TempFact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    font-size: 20px;
    border: 1px solid black;
    border-color: #00ddb4;
    
}

.TurtleFacts{
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    width: ;
    padding: 0; */
    width:800px;
    text-align: center;
    
}



h1 {
    text-align: center;
    color: C2E1C2;
    font-size: 40;
    text-shadow: 1px 0 black;
    font-family: "Rubik";
    font-weight: Semi-Bold;
}
