/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap'); */


@font-face {
    font-family: Rubik;
    src: url("../assets/Fonts/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: Rubik;
    src: url("../assets/Fonts/Rubik-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imghead {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 90%;
    background-color: white;
}

hr {
    border:solid 1px black;
    clear:both;
    display:block;
    width: 96%;               
    background-color: black;
    height: 1px;
  }

/* The sections shown below are used to implement the navigation bar and 
is reused in the other CSS file "Search.css" to create the constant bar in all files */


h1 {
    text-align: center;
    color: C2E1C2;
    font-size: 40;
    text-shadow: 1px 0 black;
    font-family: "Rubik";
    font-weight: Semi-Bold;
}

h3 {
    text-align: left;
    color: C2E1C2;
    text-shadow: 1px 0 black;
    font-family: "Rubik";
    font-weight: 600;
}

.turtle {
    display: block;
    margin: 0 auto; 
    padding: 10px 20px;
    max-width: calc(100% - 40px); 
    height: auto;
    object-fit: contain; 
    box-sizing: border-box; 
}

.team {
    display: block;
    margin-left: auto;
    margin-right: 20px; 
    padding: 10px; 
    max-width: calc(100% - 70px); 
    max-height: 100%; 
    width: auto; 
    height: auto; 
    object-fit: contain;
    box-sizing: border-box; 
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}

h2, .h2{
    font-size: 120px;
}

.bord {
    display: inline-block;
    padding: 2%;
    background-color: white;
    margin: 7%;
    margin-top: 20px;
}

.col{
    margin: 10px;
    padding: 15px;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.col h2, .h2{
    font-size: 11;
    color: #00E2B6;
}
