@font-face {
  font-family: Rubik;
  src: url("../assets/Fonts/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url("../assets/Fonts/Rubik-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Rubik";
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.loginsignup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #f4f4f4; */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40;
  text-shadow: 1px 0 black;
  font-family: "Rubik";
  font-weight: 600;
}

h1 {
  text-align: center;
  color: C2E1C2;
  font-size: 40;
  text-shadow: 1px 0 black;
  font-family: "Rubik";
  font-weight: Semi-Bold;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px ;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

