/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap'); */


@font-face {
    font-family: Rubik;
    src: url("../assets/Fonts/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: Rubik;
    src: url("../assets/Fonts/Rubik-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

.col {
    display: flex;
    flex-direction: column;
}

.col h2, .h2 {
    font-family: "Rubik";
    text-align: center;
    font-size: 15;
    text-shadow: 0 0;
    color: #00E2B6;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container{
    width: 100%;
}
