* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
  }

#map { height: 180px; }

  /* body {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  #root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } 

  #MapSpace{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  form .fr{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    max-width: 400px;
  }

  .formdiv {
    display: flex;
    align-items: center;
  }

  .cent {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
  
  /* Map container size */
  .leaflet-container {
    height: 100vh;
    width: 80vw;
    border-radius: 2rem;

  }

  form .fr{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    /* flex-direction: column; */
    max-width: 400px;
  }

  .formdiv {
    display: flex;
    align-items: center;
  }

  .cent {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
  
  .cluster-icon {
    background-color: #333;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px #fff;
  }
  