@font-face {
    font-family: Poppins;
    src: url("../assets/Fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}
  
nav {
    display: flex;
    transform: translate(60px);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #031351;
    border-radius: 20px;
    padding: 5px 10px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto; 
}
  
.button-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 100%; 
}
  
.navButton {
    background-color: lightgrey;
    color: #000000;
    padding: 0 10px; 
    border: none;
    border-radius: 5px;
    height: 50%;
}
  
.col {
    padding: 0;
    margin: 10px;
}
  
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
nav ul li {
    padding: 0 10px; 
}
  
nav ul li a {
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
    font-family: Poppins;
    border-radius: 15px;
    padding: 15px 17px;
    transition: 0.3s ease-out;
    position: relative;
}
  
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 0;
}
  
#navbar li {
    padding: 10px 5px;
    position: relative;
}
  
.active, nav a:hover {
    background-color: #003c81;
    color: #00e2b6;
}
  

