.scrolling-wrapper {
    position: relative;
    width: 100%;
    height: 450px;
    top: 20px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
}


.scrolling-content {
    position: absolute;
    width: 100%;
    perspective: 800px;
    transform-style: preserve-3d;
}

.scrolling-wrapper .scrolling-content img {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
    transition: all 1s ease-in-out;
}


.swiper-btn {
    position: relative;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 450px;
    transform: translate(-50%, -20px);
}

.swiper-btn .btn-left,
.swiper-btn .btn-right {
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background-color: grey;
    opacity: 0.5;
    color: white;
    border-radius: 15%;
    position: absolute;
}

.swiper-btn .btn-left {
    left: 0;
}

.swiper-btn .btn-right {
    right: 0;
}

.swiper-btn span {
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease; 
}

.swiper-btn span:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    transform: scale(1.1); 
    cursor: pointer; 
    opacity: 0.8; 
}

.swiper-btn span:active {
    transform: scale(0.9); 
}

@media (max-width: 768px) {
    .swiper-img {
        width: 50%;
        transform: scale(1);
    }
}

.swiper-img {
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform: scale(1);
    will-change: transform;
}

.swiper-img:hover {
    transform: scale(1.2) translateZ(50px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    border: 2px solid #fff; 
    filter: brightness(1.1); 
}


.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    z-index: 1001; 
  }
  
  .modal-content img {
    max-width: 100%; 
    max-height: 100%;
    height: auto;
  }
  
  .footer {
    background-color: #00416A;
    color: white;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info-left,
.contact-info-right {
    flex: 1;
    padding: 0 20px;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.Content{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    padding: 20px;
}
