body {
    background-color:lightskyblue;
    color: black;
    margin: 0;
    text-align: center;
}

/* The sections shown below are used to implement the navigation bar and 
is reused in the other CSS file "Home.css" to create the constant bar in all files */
div.scroll {
    text-align: center;
    background-color: silver;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 100%;
    top: 0;
    overflow: auto; 
    white-space: nowrap;
    /*These overflow and white-space values enable the website to 
    use a scrollbar on the navigation when the screen is too small and 
    so provide better functionality */
}

div.scroll a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}
  
div.scroll a:hover {
    background-color:dimgray;
    color: white;
}

.active {
    background-color: dimgray;
    color: white !important; /*I have had to use !important here as otherwise
    some of the other CSS overrides it and does not give the correct output */
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    width: 50%;
}

h1 {
    text-align: center;
}

input[type="submit"] {
    padding: 12px 20px;
    background-color: lightgrey;
    border-radius: 4px;
}
